<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mail-To-Me</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/releases/v5.12.1/js/all.js"></script>
  <style>
    .navbar-light .navbar-brand {
      color: rgba(113, 114, 114, 0.993)
    }

    .bg-img {
      /* The image used */
      background-image: url("../Images/Index_headerNEW2.png");

      min-height: 200px;

      /* Center and s
        cale the image nicely */
      background-repeat: no-repeat;
      background-size: cover;

      /* Needed to position the navbar */
      position: sticky;
    }

    h1 {
      margin-bottom: 15px;
      font-family: Segoe UI;
      font-weight: normal;
      color: rgba(113, 114, 114, 0.993);
    }

    h2 {
      margin-bottom: 15px;
      font-family: Segoe UI;
      font-weight: normal;
      color: rgba(113, 114, 114, 0.993);
    }

    body {
      background-color: white;
    }

    img {
      bottom: 16px;
    }

    fixed-wrap {
      clip: rect(0, auto, auto, 0);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  </style>

</head>

<body>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4" style="color: red;"><i>Mail-To-Me</i></h1>
      <p class="lead">HTML Forms Made Easy</p>
      <a href="/demo">
        <button type="button" class="btn btn-warning">
          <i>Try Demo Form!</i>
        </button>
      </a>
    </div>
  </div>


  <div class="container">

    <div class="media">
      <div class="media-body">
        <h4 class="mt-0" style="color: goldenrod;">What am I?</h4>
        <p>
          Mail-To-Me is a hosted FastAPI Application that listens for HTML form submissions (like the one below) and
          forwards the associated form data onto an indicated email address.
        </p>
      </div>
    </div>

    <form style="margin-bottom: 75px; margin-top: 25px;">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="inputEmail4">Email</label>
          <input type="email" class="form-control" id="inputEmail4">
        </div>
      </div>
      <div class="form-group">
        <label for="inputAddress">Address</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
      </div>
      <div class="form-group">
        <label for="inputAddress2">Address 2</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <div class="row">
      <div class="media col-md-6" style="margin-bottom: 75px;">
        <img src="{{ url_for('static', path='images/mailtome_pfd_crop.png') }}" class="mr-3" alt="..."
          style="max-width: 100%;">
      </div>
      <div class="media-body col-md-6" style="width: 100%; margin-bottom: 75px;">
        <h4 class="mt-0" style="color: blue;">How do I work?</h4>
        1. An HTML Form is filled out by a user, the user submits the form.
        <br>
        2. The form submission is redirected to the Mail-To-Me Heroku App - endpoint:
        mailtome.herokuapp.com/receiving_email/field_list
        <br>
        3. The Flask app sends the collected field list to a requesting script that collects the form data into a data
        packet. The data packet is returned to the primary Flask app.
        <br>
        4. The Flask app sends the data packet to a python script which utilizes an smtp request to send an email to the
        receiving email containing the data packet.
        <br>
        5. POOF! Your form data has been delivered to your inbox!
      </div>
    </div>

    <div class="row">
      <div class="media col-md-12">
        <div class="media-body">
          <h4 class="mt-0" style="color: green;">How do I used Mail-To-Me?</h4>
          Mail-To-Me is easy to start using. There is no back-end to set up to start receiving emails.
          <br><br>

          In order to start receiving emails:
          <br>
          1. Find the HTML form you would like to submit data from.
          <br>
          2. Enter ensure that your form has the following <strong style="color: red;">criteria</strong><strong
            style="color: green;">(s)</strong>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <pre>
          <code>
          <br>
          &lt;!-- Contact Form --&gt;
    &lt;section id="contact" class="wrapper style4 vh-height">
            &lt;div class="inner">
              &lt;section>
                  &lt;h4>Contact&lt;/h4>
                    &lt;form <strong style="color: red;">method="post" action="https://mailtome.armckinney.dev/submit?recipient=&lt;your_email_address></strong>>
                      &lt;div class="row gtr-uniform">
                    &lt;div class="col-6 col-12-xsmall">
                      &lt;input type="text" name="Name" id="demo-name" value="" placeholder="Name" />
                    &lt;/div>
                    &lt;div class="col-6 col-12-xsmall">
                        &lt;input type="email" <strong style="color: green;">name="sender"</strong> id="demo-email" value="" placeholder="Email" />
                      &lt;/div>
                      &lt;div class="col-12 col-12-xsmall">
                        &lt;input type="text" name="Subject" id="demo-message" value="" placeholder="Subject" />
                      &lt;/div>
                      &lt;div class="col-12">
                        &lt;textarea name="Message" id="demo-message" placeholder="Enter your message" rows="6">&lt;/textarea>
                      &lt;/div>
                      &lt;div class="col-6 col-12-small">
                        &lt;input type="checkbox" id="demo-human" name="Human">
                        &lt;label for="demo-human">Not a robot&lt;/label>
                      &lt;/div>
                      &lt;div class="col-12">
                        &lt;ul class="actions">
                          &lt;li>&lt;input type="submit" value="Send Message" class="primary" />&lt;/li>
                          &lt;li>&lt;input type="reset" value="Reset" />&lt;/li>
                        &lt;/ul>
                      &lt;/div>
                      &lt;/div>
                    &lt;/form>
                    &lt;h5 style="color: goldenrod">&lt;a href="https://mailtome.herokuapp.com/">&lt;i>Powered by Mail-To-Me&lt;/i>&lt;/a>&lt;/h5>
                  &lt;/section>
                &lt;/div>
              &lt;/section>
          </code>
        </pre>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12" style="margin-bottom: 100px;">
        <h3>Notes:</h3>
        <ul>
          <li>Method Must be "post"</li>
          <li>Action must go to specified Route shown</li>
          <ul>
            <li>Fill in
              <code>
              <strong style="color: red;">&lt;your_email_address></strong>
              </code>
              with the designated receiving email address
            </li>
            <li>There is only 1 required field that must be sent - recipient. "recipient" MUST be labeled as such in the
              input name or as a query parameter in the post uri.</li>
          </ul>
          <li>Example(s):</li>
          <ul>
            <li class="text-break">
              action="https://mailtome.armckinney.dev/submit?recipient=john_doe@gmail.com"
            </li>
            <li>&lt;input type="text" name="Subject" id="demo-message" value="" placeholder="Message" /></li>
          </ul>
        </ul>
      </div>
    </div>

  </div>

  <div class="jumbotron jumbotron-fluid" style="margin-bottom: 0%;">
    <div class="container">
    </div>
  </div>
</body>

</html>